/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Routine Styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    font-family: 'Playfair Display', sans-serif;
}








/* Header Content */
header {
    background-color: aquamarine;

}

/* Main Content */
main {
    background-color: blueviolet;
    /* Property to push Footer down */
    flex: 1 0 auto;
}

/* Footer Content */ 
footer {
    background-color: darkslateblue;
}

