/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Routine Styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    font-family: 'Playfair Display', sans-serif;
}

/* Header Content */
header {
    background-color: aquamarine;
}

h1 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

/* Main Content */
main {
    background-color: blueviolet;
    /* Property to push Footer down */
    flex: 1 0 auto;
}

/* Footer Content */ 
footer {
    background-color: darkslateblue;
}

