/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

/* Routine Styling */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    font-family: 'Playfair Display', sans-serif;
}

/* Header Content */
header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #ccae68;
}

#trademark {
    color: #ccae68;
    letter-spacing: 8px;
    padding: 20px 0 10px 0;
}

h1 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

/* Navigation */
#dropdown {
    font-family: 'Barlow', sans-serif;
    list-style-type: none;
    border: solid 2px #ffffff;
    text-transform: uppercase;
    justify-content: center;
    background-color: #ffffff;
}

#dropdown > li {
    margin: 10px;
}

nav {
    position: absolute;
    width: 100%;
    display: none;
    font-weight: bold;
}

/* Drop down Toggling */
#dropdown-toggle:checked~nav {
    display: block;
}

#dropdown-toggle {
    display: none;
}

/* Main Content */
main {
    background-color: rgb(155, 155, 155);
    /* Property to push Footer down */
    flex: 1 0 auto;
    margin-top: 98px;
}

    /* Form */
#submission {
    background-image: url(../images/pexels-bortnikoff.jpg);
    background-size: cover;
    background-position: 850%;
    padding: 3rem;
}

#form-heading {
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}

.submission-title {
    color: #ffffff;
}

#submission-form {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ccae68;
    padding: 5px 1rem;
}

.text-field {
    background-color: transparent;
    color: #ffffff;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: solid 5px #ccae68;
    border-radius: 10px;
    padding: 1px 0 1px 5px;
}

#email-form {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ccae68;
    padding: 2px 25px 40px 25px;
}

.submit-button {
    border-radius: 3em;
    padding: 5px;
}git

/* Footer Content */ 
footer {
    background-color: rgb(255, 255, 255)
}

/* Media Query for Tablets etc 768px+ */
@media screen and (min-width: 768px) {

    /* Header Content */

    nav {
        position: relative;
        width: 100%;
        padding: 5px 0 5px 5px;
    }

    #dropdown {
        display: flex;
        width: fit-content;
        padding-right: 40px;
        margin-left: 290px;
    }

    #submission {
        background-size: cover;
    }

    /* Main Content */

    /* Footer Content */
}